.profileForm {
  border: 1px solid #4b5563;
  background-color: #263343;
  border-radius: 12px;
  padding: 2rem 4rem;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.formDescription {
  color: #bfbfbf;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.formGroup {
  margin-top: 1.25rem;
}

.groupTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.formLabel {
  display: block;
  color: #d1d5db;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.formInput,
.formTextarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #4b5563;
  border-radius: 6px;
  background-color: #1e293b;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  margin-bottom: 1rem;
}

.formInput:focus,
.formTextarea:focus {
  outline: none;
  border-color: oklch(68.949% 0.00008 271.152);
}

.formTextarea {
  min-height: 100px;
  resize: vertical;
}

.profilePictureContainer {
  margin-bottom: 1rem;
}

.profilePictureWrapper {
  position: relative;
  width: 80px;
  height: 80px;
}

.profilePicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4b5563;
}

.changePictureButton {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.uploadIcon {
  color: #fff;
}

.saveButton {
  margin-top: 2rem;
  width: fit-content;
  align-self: flex-end;
  background-color: oklch(60% 0.118 184.704);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: 500;
}

.saveButton:hover {
  background-color: oklch(51.1% 0.096 186.391);
}
