.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  padding: 2rem;
  padding-bottom: 4rem;
  gap: 4rem;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.divider {
  display: flex;
  align-items: center;
  color: #bfbfbf;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  width: 80%;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  background-color: #6b6b6b;
  height: 2px;
  margin: 0 1.25rem;
}

.trackContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
}
