.profileContainer {
  background-color: #2c3e50;
  color: #ecf0f1;
  border: 1px solid #34495e;
  border-radius: 8px;
  padding: 2rem;
  width: 50%;
  margin: auto;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #34495e;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.avatarContainer {
  background-color: #bdc3c7;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.username {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.title {
  color: #BCBCBC;
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

.statsInfo {
  display: flex;
  flex-direction: column;
  width: 45%;  
  gap: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.level {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.progressBarWrapper {
  width: 100%;
  margin-bottom: 0.5rem;
}

.nextTitleContainer {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 1rem;
  color: #BCBCBC;
}

.nextTitleValue {
  color: #f1c40f;
  font-weight: bold;
}

.arrow {
  margin: 0;
  color: #BCBCBC;
}

.aboutSection {
  text-align: left;
}

.aboutHeader {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.aboutText {
  color: #bdc3c7;
  font-size: 1.25rem;
  line-height: 1.6;
}