.signInForm {
  background-color: #263343;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  font-family: sans-serif;
  color: #DADADA;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-size: 1rem;
  font-weight: 500;
}

.formGroup input {
  background-color: #304156;
  border: 1px solid #4a5a75;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  transition: border-color 0.2s ease-in-out;
}

.formGroup input:focus {
  outline: none;
  border-color: #c4d7ed;
}

.forgotPasswordGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-top: -0.75rem; 
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rememberMe input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #4a5a75;
  border-radius: 4px;
  cursor: pointer;
  background-color: #304156;
  position: relative;
  transition: background-color 0.2s;
}

.rememberMe input[type="checkbox"]:checked {
  background-color: oklch(60% 0.118 184.704); 
  border-color: oklch(60% 0.118 184.704);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12.6111L8.92308 17.5L20 6.5' stroke='%23ffffff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.rememberMe label {
  font-size: 0.9rem;
  color: #c9cdd4;
}

.forgotPasswordLink {
  color: #fff;
  font-weight: bold;
  transition: color 0.2s;
}

.signInForm button[type="submit"] {
  background-color: oklch(60% 0.118 184.704);
  color: #DADADA;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.signInForm button[type="submit"]:hover {
  background-color: oklch(51.1% 0.096 186.391);
}

.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.divider span {
  font-size: 0.9rem;
  color: #c9cdd4;
  white-space: nowrap;
}

.divider::before,
.divider::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #BFBFBF;
}

.googleButton {
  background-color: #17223D;
  border: 1px solid #4a5a75;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.googleButton img {
  width: 40px;
  height: auto;
}

.googleButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
