.personCard {
  background-color: #2b3956;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 225px; 
  width: 175px; 
}

.profilePicContainer {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  background-color: #c9cdd4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.details {
  font-size: 0.9rem;
  color: #c9cdd4;
  margin-bottom: 1.5rem;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}

.socialIconLink {
  color: #c9cdd4;
  transition: color 0.2s ease-in-out;
}

.socialIconLink:hover {
  color: #fff;
}

.socialIcon {
  width: 24px;
  height: 24px;
}
