.forgotPasswordSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid #8E8E8E;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
