.faqSection {
  background-color: #263343;
  color: #dadada;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}

.faqItem {
  background-color: #263343;
  border-radius: 8px;
  padding: 0;
  width: 60%;
}

.question {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.75rem;
}

.answer {
  font-size: 1rem;
  line-height: 1.6;
  color: #dadada;
}

.link {
  color: #5ac4f6;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #2942ff;
}

.answer br {
  margin-bottom: 1rem;
}
