.searchContainer {
  display: flex;
  align-items: center;
  background-color: #304156;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  position: sticky;
  top: 2rem;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.searchIcon {
  width: 24px; 
  height: 24px;
}

.searchInput {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  padding: 0.25rem 0;
}

.searchInput::placeholder {
  color: #c9cdd4;
}

.glossaryTerms {
  width: 100%;
  margin-left: 6rem;
}

.glossaryTerms > div:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .searchContainer {
    max-width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
  }

  .searchIcon {
    width: 20px;
    height: 20px;
  }

  .searchInput {
    font-size: 0.9rem;
  }
}
