.progressionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #fff;
    gap: 2rem;
}

.title {
    font-size: 3rem;
}

.courseContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 85%;
  justify-items: center; 
  padding: 0;
}
