.forgotPasswordForm {
  background-color: #263343;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  font-family: sans-serif;
  color: #DADADA;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem; 
  font-weight: 500;
  margin-bottom: 0.5rem; 
}

.input {
  background-color: #304156;
  border: 1px solid #4a5a75;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  transition: border-color 0.2s ease-in-out;
}

.input::placeholder {
  color: #b5b5b5;
}

.input:focus {
  outline: none;
  border-color: #c4d7ed;
}

.button {
  background-color: oklch(60% 0.118 184.704);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%; 
}

.button:hover {
  background-color: oklch(51.1% 0.096 186.391);
}
