.module {
  display: flex;
  flex-direction: column;
  background-color: #2f3f54;
  color: #fff;
  padding: 2rem 0;
  padding-top: 1rem;
  width: 900px;
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  margin: 1rem 0;
}

.moduleName {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.moduleContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
