.dangerZoneSection {
  border: 1px solid #4b5563;
  background-color: #263343;
  border-radius: 12px;
  padding: 2rem 4rem;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #fff;
}

.description {
  color: #bfbfbf;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.actionButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 180px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #4b5563;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.actionButton:hover {
  background-color: oklch(37.3% 0.034 259.733);
}

.actionButton p {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}
