@import "tailwindcss";

@theme {
  --color-background: #17223d;
  --color-brand-teal: oklch(60% 0.118 184.704);
  --color-brand-teal-dark: oklch(51.1% 0.096 186.391);
  --color-brand-gold: #e1a90f;
  --color-background-alt: #202c39;
  --color-background-cta: #1a2645;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: white;
  }
}
