.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
  color: #fff;
  min-height: 100vh;
}

.courseName {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.overviewTitle {
  align-self: flex-start;
  font-size: 1.75rem;
  margin: 0;
}

.overviewDescription {
  font-size: 1.2rem;
  color: #bfbfbf;
  margin-bottom: 2rem;
}

.modulesContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
