.signUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.description {
  font-size: 1rem;
  font-weight: bold;
  color: #DADADA;
  margin-bottom: 3rem;
}

.link {
  color: #DADADA;
  font-weight: bold;
}