.header { 
  background-color: #17223D;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  color: white;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 55px;
  width: auto;
}

.title {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: white;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.getStartedButton {
  background-color: oklch(60% 0.118 184.704);
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.getStartedButton:hover {
  background-color: oklch(51.1% 0.096 186.391);
}

.themeIcon {
  height: 24px;
  width: auto;
  cursor: pointer;
}