.bookmarkedBlogsSection {
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bookmarkedBlogsSectionTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 6rem; 
  color: #fff;
}

.bookmarkedBlogsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem; 
  width: 100%;
  max-width: 1200px; 
  margin-bottom: 3rem; 
}

.viewAllButton {
  background-color: oklch(60% 0.118 184.704);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 60%;
}

.viewAllButton:hover {
  background-color: oklch(51.1% 0.096 186.391); 
}

@media (max-width: 1024px) {
  .bookmarkedBlogsContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .bookmarkedBlogsSection {
    padding: 2rem 1rem;
  }

  .bookmarkedBlogsSectionTitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .bookmarkedBlogsContainer {
    grid-template-columns: 1fr; 
    max-width: 400px;
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .bookmarkedBlogsSectionTitle {
    font-size: 2rem;
  }
}
