.item {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.icon {
  margin-right: 0.5rem;
}

.link {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
  flex: 1;
  font-size: 1.25rem;
  font-weight: 600;
}

.button {
  background-color: transparent;
  border: none;
}
