.signUpForm {
  background-color: #263343;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  font-family: sans-serif;
  color: #DADADA;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-size: 1rem;
  font-weight: 500;
}

.formGroup input {
  background-color: #304156;
  border: 1px solid #4a5a75;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  transition: border-color 0.2s ease-in-out;
}

.formGroup input:focus {
  outline: none;
  border-color: #c4d7ed;
}

.terms {
  font-size: 0.9rem;
  color: #c9cdd4;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0; 
}

.signUpForm button[type="submit"] {
  background-color: oklch(60% 0.118 184.704);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.signUpForm button[type="submit"]:hover {
  background-color: oklch(51.1% 0.096 186.391);
}

.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.divider span {
  font-size: 0.9rem;
  color: #c9cdd4;
  white-space: nowrap;
}

.divider::before,
.divider::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #4a5a75;
}

.googleButton {
  background-color: #17223D;
  border: 1px solid #4a5a75;
  border-radius: 6px;
  padding: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  transition: background-color 0.2s ease-in-out;
}

.googleButton img {
  width: 40px;
  height: auto;
}

.googleButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.googleButton span {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
