.contributeCard {
  background-color: #2F3F54;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem 1.5rem;
  color: #DADADA;
}

.headerIndicator {
  background-color: #bf8932; 
  height: 8px;
  width: calc(100% + 3rem); 
  margin: 0 -1.5rem 2rem -1.5rem; 
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #c9cdd4;
  margin-bottom: auto; 
}

.link {
  display: inline-block;
  background-color: oklch(60% 0.118 184.704); 
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  margin-top: 1.5rem; 
}

.link:hover {
  background-color: oklch(51.1% 0.096 186.391); 
}
