.changePasswordForm {
  border: 1px solid #4b5563;
  background-color: #263343;
  border-radius: 12px;
  padding: 2rem 4rem;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.formGroup {
  margin-top: 1.25rem;
}

.formLabel {
  display: block;
  color: #d1d5db;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #4b5563;
  border-radius: 6px;
  background-color: #1e293b;
  margin-bottom: 1rem;
}

.formInput {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  margin-bottom: 0;
}

.formInput:focus {
  outline: none;
}

.inputContainer:focus-within {
  border-color: oklch(68.949% 0.00008 271.152);
}

.passwordToggle {
  cursor: pointer;
  padding: 0 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveButton {
  margin-top: 2rem;
  width: fit-content;
  align-self: flex-end;
  background-color: oklch(60% 0.118 184.704);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: 500;
}

.saveButton:hover {
  background-color: oklch(51.1% 0.096 186.391);
}
