.supportUsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.supportUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
  color: #dadada;
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
  width: 45%;
}

.button {
  background-color: oklch(60% 0.118 184.704);
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: oklch(51.1% 0.096 186.391);
}
