.trackCard {
  background-color: #2f3f54;
  color: #fff;
  border-radius: 8px;
  padding: 30px;
  width: 350px;
  border: 1px solid #6b6b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.trackCard:hover {
  transform: translateY(-5px);
}

.beneathImage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
  color: #bfbfbf;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
}

.trackWord {
  font-size: 1.2rem;
}

.trackName {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.trackDescription {
  color: #bfbfbf;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: auto;
  font-family: "Arial";
}

.selectButton,
.openButton {
  padding: 10px 35px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 1rem;
}

.selectButton {
  background-color: oklch(60% 0.118 184.704);
  color: white;
}

.selectButton:hover {
  background-color: oklch(51.1% 0.096 186.391);
}

.openButton {
  background-color: transparent;
  color: #fff;
  border: 1px solid #6b6b6b;
}

.openButton:hover {
  background-color: #34495e;
  color: white;
}

.imageContainer {
  position: relative;
  width: 90px;
  height: 90px;
}

.selectedLabel {
  position: absolute;
  right: -120px;
  background-color: oklch(60% 0.118 184.704);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 9999px;
}
