.myBlogsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #fff;
    gap: 2rem;
}

.title {
    font-size: 3rem;
}

.blogsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem; 
  width: 100%;
  max-width: 1200px; 
  margin-bottom: 3rem; 
}